*{
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.nav-list{
    margin: 0;
    list-style: none;
    padding: 0;
}

.nav-link{
    text-align: center;
    display: block;
    min-height: 100px;
    min-width: 300px;
    background-color: limegreen;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    border: green solid 1px;
    padding: 12% 0;
    font-size: 25px;
}

.nav-link:hover{
    background-color: green;
}

.nav-item-list:hover > .nav-list-bottom{
    display: block;
}

.nav-item-list{
    display: inline-block;
}
.nav-list-bottom{
    position: absolute;
    display: none;
}
